html, body {
      margin: 0;
      padding: 0;
      height: 100%;
      background-color: #acf0f4;
    }

img{
    width:345px;
}

/*see the world*/
  h1 {
    font-family: 'Cookie', cursive;
    font-size: 40px;
    color: #333;
  }
  
  h3{
        font: italic 1.2em "Fira Sans", serif;
    /*font-family: 'Cookie', cursive;*/
    font-size: 16px;
  }

/* Style the dropdown button */
.dropbtn {
  background-color: #ff5e00;
  color: white;
  font-size: 16px;
  border: none;
  cursor: pointer;
  padding: 12px 20px;
  border-radius: 25px;
  transition: background-color 0.3s ease;
}

/* Change color on hover */
.dropbtn:hover {
  background-color: #f25800;
}

/* Dropdown container */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f9f9f9;
  min-width: 160px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 1px 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #444444;
  font-size: 14px;
  /*padding: 6px 0;*/
  display: block;
}

/* Change color of links on hover */
.dropdown-content a:hover {
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  background-color:#05b3a4;
}











/*FOOTER*/
.footer {
  /*position: relative;*/
  /*background: #05b3a4;*/
  /*min-height: 100px;*/
  /*padding: 20px 50px;*/
  /*display: flex;*/
  /*justify-content: center;*/
  /*align-items: center;*/
  /*flex-direction: column;*/
  /*margin-top:35%;*/
  
  /*SECOND TEST*/
    /*  position: relative;*/
    /*background: #05b3a4;*/
    /* min-height: 100px; */
    /*width: 2304px;*/
    /* width: 100%; */
    /* padding: 20px 50px; */
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*flex-direction: column;*/
    /*margin-top: 4%;*/
    
    
    /*THIRD TEST*/
    position: relative; */
    /* background: #05b3a4; */
    /* min-height: 100px; */
    /* padding: 20px 50px; */
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* flex-direction: column; */
    /* margin-top: 35%; */
    position: relative;
    background: #05b3a4;
    /* min-height: 100px; */
    width: 1;
    /* width: 100%; */
    /* padding: 20px 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 13%;

}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}
.menu__link:hover{
	color: white;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.imgur.com/ZAts69f.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

/*////////////////////////FOOTER/////////////////////////*/


/*//////////////////trest*/
.fade-in {
  opacity: 0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
